
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo-light.svg" alt="">
			</a>
		</div>
		<div class="soc-wrap">
			<a href="" class="btn-action-ico inner-button-soc">
				<img src="./img/icons/soc01.svg" alt="">
			</a>
			<a href="" class="btn-action-ico inner-button-soc">
				<img src="./img/icons/soc02.svg" alt="">
			</a>
			<a href="" class="btn-action-ico inner-button-soc">
				<img src="./img/icons/soc03.svg" alt="">
			</a>
		</div>
		<div class="info-inner-wrap">
			<div class="info-wrap wrap-copy">© 2009-2022 WedWed. Все права защищены.</div>
			<div class="info-wrap wrap-link wrap-first"><a href="" class="link-main">Политика конфиденциальности</a></div>
			<div class="info-wrap wrap-link"><a href="" class="link-main">Правила оплаты</a></div>
		</div>
	</div>
</footer>
<!-- /footer -->
