
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="actions-wrap">
			<div class="action-wrap">
				<a href="" class="btn button-border">Войти</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn">Зарегистрироваться</a>
			</div>
		</div>
		<div class="popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-wrap">
					<ul class="menu">
						<li><a href="">Каталог</a></li>
						<li><a href="">Место для свадьбы</a></li>
						<li><a href="">Планировщик</a></li>
						<li><a href="">Фотоидеи</a></li>
						<li><a href="">Статьи</a></li>
						<li><a href="">Отзывы</a></li>
						<li><a href="">Агентство</a></li>
						<li><a href="">Избранное</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->